<p style="color: green"><%= notice %></p>

<h1>Commits</h1>

<div id="commits">
  <% @commits.each do |commit| %>
    <%= render commit %>
    <p>
      <%= link_to "Show this commit", commit %>
    </p>
  <% end %>
</div>

<%= link_to "New commit", new_commit_path %>
