<div id="<%= dom_id assignment %>">
  <p>
    <strong>Cohort:</strong>
    <%= assignment.cohort_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= assignment.project_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= assignment.user_id %>
  </p>

</div>
